// 
// _mixin.scss
// 

//flex alignments 
@mixin flex-align($align-items, $justify-content: null) {
    display: flex;
    align-items: $align-items;

    @if $justify-content != null {
        justify-content: $justify-content;
    }
}

//position alignments 
@mixin position-align($position-values, $position-top: null, $position-right: null, $position-bottom: null, $position-left: null) {
    position: $position-values;

    @if $position-top != null {
        top: $position-top;
    }

    @if $position-right != null {
        right: $position-right;
    }

    @if $position-bottom != null {
        bottom: $position-bottom;
    }

    @if $position-left != null {
        left: $position-left;
    }
}