.footer {
    padding: 80px 0 50px;

    @media (max-width: 425px) {
        padding: 50px 0;
    }

    #footer-accordion {
        .footer-accordion-item {
            background: transparent;
            border: none;

            .footer-accordion-button {
                background: transparent;
                color: var(--#{$prefix}black);
                box-shadow: none;

                h5 {
                    font-size: 16px;
                    font-weight: 500;
                    color: $gray-900;
                }

                &::after {
                    position: absolute;
                    background-image: none;
                    content: '';
                    top: 50%;
                    right: 5px;
                    width: 1px;
                    height: 12px;
                    transform: translate(-50%, -50%) rotate(180deg);
                    background-color: #222222;
                    color: #111111;
                }

                &::before {
                    position: absolute;
                    content: ' ';
                    top: 50%;
                    right: 0;
                    width: 12px;
                    height: 1px;
                    background-color: #222222;
                    transition: transform 0.35s ease-in-out,
                        opacity 0.35s ease-in-out,
                        -webkit-transform 0.35s ease-in-out;
                }
            }
        }
    }

    .footer-social {
        a {
            color: var(--#{$prefix}secondary-color) !important;
            font-size: 20px;
            transition: all 0.5s ease;

            &:hover {
                color: #56cfe1;
                transform: translateY(-4px);
            }
        }
    }

    .accordion-button:not(.collapsed):after {
        display: none;
    }

    .menu li {
        line-height: 30px;
        margin-bottom: 5px;

        a {
            color: var(--#{$prefix}secondary-color);
            transition: all 0.5s ease;

            &:hover {
                color: #56cfe1;
            }
        }
    }

    p {
        line-height: 24px;
    }

    .footer-subscribe {
        input {
            height: 46px;
            padding-right: 115px;
            background-color: transparent;
        }

        button {
            top: 3px;
            right: 3px;
        }
    }

    .footer-subscribe-sport {
        input {
            height: 40px;
        }
        button {
            top: 0;
            right: 0;
            height: 100%;
        }
    }

    &.furniture {
        background-color: #f5f9fa;
    }

    &.footer-dark {
        background-color: #111111;

        .menu li {
            line-height: 30px;
            margin-bottom: 5px;

            a {
                color: var(--#{$prefix}white);
                transition: all 0.5s ease;

                &:hover {
                    color: #56cfe1;
                }
            }
        }

        .footer-social {
            a {
                color: var(--#{$prefix}white);
                transition: all 0.5s ease;

                &:hover {
                    color: #56cfe1;
                    transform: translateY(-4px);
                }
            }
        }
    }

    &.footer-handmade {
        background-color: #f3ece6;
        color: #878787;
    }

    &.footer-store {
        .menu li {
            line-height: 30px;
            margin-bottom: 5px;

            a {
                color: var(--#{$prefix}white);
                transition: all 0.5s ease;

                &:hover {
                    color: #56cfe1;
                }
            }
        }

        .footer-social {
            a {
                color: var(--#{$prefix}white);
                transition: all 0.5s ease;

                &:hover {
                    color: #56cfe1;
                    transform: translateY(-4px);
                }
            }
        }
    }
}

.footer-alt {
    padding: 20px 0;

    #footer-menu li {
        margin-left: 20px;
        display: inline-block;
        font-size: 14px;
        line-height: 21px;

        a {
            color: var(--#{$prefix}secondary-color);
            transition: all 0.5s ease;

            &:hover {
                color: #56cfe1;
            }
        }

        @media (max-width:320px) {
            margin-left: 0;
        }
    }

    &.furniture {
        padding: 25px 0;
    }

    &.footer-dark {
        background-color: $black;
        color: $white;

        #footer-menu li {
            a {
                color: var(--#{$prefix}white);

                &:hover {
                    color: #56cfe1;
                }
            }
        }
    }

    &.footer-handmade {
        background-color: #e5dad1;

        #footer-menu li {
            a {
                color: var(--#{$prefix}body-color);

                &:hover {
                    color: #56cfe1;
                }
            }
        }
    }
}

#nt_backtop {
    right: 10px;
    bottom: 66px;
    padding: 5px;
    cursor: pointer;
    // opacity: 0;
    transition: all .25s ease;
    width: 48px;
    height: 48px;
    line-height: 45px;
    font-size: 38px;
    border-radius: 3px;
    color: $gray-700;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    z-index: 2;
}

@media (min-width: 768px) {
    .footer {
        #footer-accordion {
            .footer-accordion-item {
                .footer-accordion-button {
                    display: none;
                }

                .collapse {
                    &:not(.show) {
                        display: block;
                    }
                }
            }
        }
    }

    .footer-fixed {
        position: fixed;
        bottom: 0;
        margin-top: 540px;
        bottom: 0 !important;
        left: 0;
        width: 100%;
        transition: all 0.25s ease;
        perspective: 800px;
        z-index: -1;
    }

    .mb-50 {
        margin-bottom: 520px;

    }

}

.responsive-footer {
    box-shadow: 0 0 9px rgba(0, 0, 0, .12);
    background-color: $white;

    .toolbar_icon {
        position: relative;
        width: 20px;
        height: 20px;

        &::before {
            position: absolute;
            content: "\e917";
            font-size: 18px;
            font-family: 'iconKalles', sans-serif;
            font-weight: 600;
        }

        .tag {
            right: -18px;
            background-color: $black;
            color: $white;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 10px;
        }
    }

    .icon2 {
        &::before {
            content: "\e905";
        }
    }

    .icon3 {
        &::before {
            content: "\e907";
        }
    }

    .icon4 {
        &::before {
            content: " \e903";
        }
    }

    .icon5 {
        &::before {
            content: "\e90e";
        }
    }

    .icon6 {
        &::before {
            content: "\e914";
        }
    }
}

.footer-lingerie {
    background-color: #edf2f7;
}

.layout-mode-ltr {
    .ltr {
        display: block;
    }

    .rtl {
        display: none;
    }
}

[dir=rtl] {
    .layout-mode-ltr {
        .ltr {
            display: none;
        }

        .rtl {
            display: block;
        }
    }
}